<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{blogpost.image}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">blog name: {{blogpost.name}}</h5>
    <p class="card-text">blog description: {{blogpost.description}}</p>
    <a href="#" class="btn btn-primary">Read more</a>
  </div>
</div>  